*{
      margin: 0 ;
      padding: 0%;
      box-sizing: border-box;
      text-decoration: none;
      list-style:none;
}
header {
      top: 0%;    
      width: 100%;
      height: 50px;
      background-color: rgb(146, 71, 0);   
      font-family: 'Marck Script', cursive;
      text-align: right;
      color: black;
      font-size: 20px;
      margin-right: 10px;
      
      
}
.tituloIcono{
      text-align: left;
      
}
body{
      background-color: rgb(182, 168, 157);
      font-family: 'Marck Script', cursive;
}
.navegador ul li{ 
      display: inline;    
      text-align: right;
      color: black;
      
}
.navegador ul li a{
      color: black;

}
.presentacionDesc{ 
      text-align: center;
      text-decoration: underline;
}
.lema{ 
      padding: 300px 250px;
      top: 500px;
      margin: 20px;
      left: 250px;
      background-image: url(../imagen/Sillonpresentacion.png);
      background-position: center center;
      background-size: cover;
      background-position-x: center;
      font-size: 50px;
      text-align: center;
      color: rgb(146, 93, 25);
}

nav ul li {
      list-style:square
}

.titulo {color: rgb(158, 103, 30);
      text-align: center;
      text-decoration:underline double;
      font-size: 75px;
      text-shadow: 0 0 10px rgb(0, 0, 0);

}

h1{
      text-shadow: rgb(3, 3, 3);
}

.bajoImagen{
      font-size: 20px;
      padding: 50px;
      margin: 50px;
}
footer{
      background-color: rgb(146, 71, 0);
}
.tarjeta {
      width: 250px;
      border: solid 1px;
      border-radius: 8px;
      overflow: hidden;
      margin: 40px;
      position:relative
}
.tarjeta__img{
      width: 100%;
      }
.tarjeta__titulo{
      margin: 20px;
      }
.tarjeta__precio{
      margin: 10px;
      }
.tarjeta__btn{
      padding: 5px;
      border-radius: 8px;
      background-color: brown;
      margin: 10px;
}
.tarjeta__btn:hover{
      background-color: green;
}
.tarjeta:hover{
      scale: 1.1;
}